.blockText{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
   box-sizing: border-box;

}
.dataOverview{
    font-size: 16px;
    line-height: 25px;
}

.MainContent{
    width: 100%;
    margin-bottom: 30px;

}

#listItem{
    display: flex;
    letter-spacing: 0px;
    align-items: center;
}
#listItem p {
    font-size: 16px;
    margin-left: 29px;
}

.nextjs{
    font-size: 16px;
    margin-left: 10px;
}

.otherSection{
    display:flex;

}
.box{
    width: 50%
}
.cpName{
    margin-left: 20px;
}
#mn{
    font-size: 15px;
    margin-left: 15px;
}

.internshipDescription{
    font-size: 16px;
    list-style: dashed;
   
}

.internshipDescription > ul > li{
    margin-bottom: 10px;
   
}

.secondTitle{
    font-size: 26px;
}

.projectCards{
   
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    
    grid-auto-rows: auto;  
    grid-gap: 1rem;
    padding: 20px;
 
}

@media screen and (max-width: 1024px) {
    .projectCards{
   
      
        grid-template-columns: repeat(2, 1fr);   
        
     
    }
  }

  @media screen and (max-width: 430px) {
    .projectCards{
   
      
        grid-template-columns:  1fr;   
        
     
    }
  }
/* .gridItem{
  
    background-color: #15181b;
    height: 300px;
    padding: .5rem;
    width: 250px;
    font-size: 16px;
    position: relative;

    text-align: center;
} */

.projectCards::-webkit-scrollbar {
    width: 3px;
    height: 100px;
  }
  /* Track */
  .projectCards::-webkit-scrollbar-track {
    background: #1c1c1c;
  }
  /* Handle */
  .projectCards::-webkit-scrollbar-thumb {
    /* background: #888;  */
   
    background: white;
  }
