.container{
   overflow-y: scroll;
}
/*#2d2d2d*/

.elContainer{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
   
    height: 85vh;
}
.true{
    height: 100vh;
    width: 75vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #21272f;
    z-index: 2;
    transition: 0.3s ease-in-out;
    overflow-x: hidden;
    color: white;
}


.false{
    height: 100vh;
    width: 0vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}


.btnGroup{
    display:flex;
    
   
    justify-content: space-around;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
