  
.container{
  font-size: 1.5em;
  background: url(../public/portfolioWallpaper.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
}

.curtain{
  height:100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.firstSection{
  height:50%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
 
  color: white;
  margin-top: 50px;
  text-align: center;
}

.image{
  border-radius: 150px;
  margin-bottom: 30px;
 

}

	

.textInfo{
  min-height:120px;
  box-sizing: border-box;
  width: auto;
  
}

.closeBtnContainer{
  position: relative;
  top: 50%;
  left: 10%;
  height: 44px;
  width: 44px;
 
}

.closeBtnContainer:hover{
 
  transform: rotate(180deg);
  transition: all 0.8s ease-in-out 0s;
}

.linkGroup{
  font-size: 50px;
  color: white;
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 430px) {
  .textInfo{
    min-height:120px;
    box-sizing: border-box;
    
    font-size: 1rem;
    text-align: -webkit-center;
    
  }
}
